/*
filename: James

author: James Heneghan

created: 25/03/2026

last modified: 25/03/2026

description: style sheet for the web technology project of which includes a video. this style sheet is for an application sheet.
*/

* {
  box-sizing: border-box;
}

/*makes the website smooth when scrolling*/
html {
    scroll-behavior: smooth;
    }

/*default values for and elements in the bodt unless specified otherwise*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}


header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    /*puts it as the bottom most element so that thing can be put on top of it*/
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.3);
    filter: brightness(60%) hue-rotate(40deg); 
}

.overlay-text {
    position: absolute;
    top: 20%;
    left: 30%;
    /* moves the element to the centre. (moves back 50% of the top and the left to centre the element)*/
    transform: translate(-50%, -50%);
    color: white;
    /* controls what sits on top of what, thus making it the highest order, (putting it on top of the visual)*/
    z-index: 10;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
    font-size: 130px;
    font-weight: 900;
}

/*style of the text underneath the main overlay*/
.info {
    position: absolute;
    top: 30%;
    left: 30%;
    /* moves the element to the centre. (moves back 50% of the top and the left to centre the element)*/
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

legend {
    text-align: center;
}

.form-section {
    justify-content: center;
}

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 3px;
    height: 80px;
    padding: 10%;
}

/* this puts a bubble sort of border on the input box, I did have to use AI to figure out how this works.*/
input,
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 14px 16px;
    border: 1px solid #232425;
    border-radius: 12px;
    background: #ffffff;
    font: inherit;
    color: #102a43;
}

label {
    cursor: default;
}

.form-grid {
    display: grid;
    gap: 20px;
    overflow: visible;
}

.two-column {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.required {
    color: red;
}