/*
filename: James

author: James Heneghan

created: 25/03/2026

last modified: 25/03/2026

description: style sheet for the web technology project of which includes a video. this style sheet is for an application sheet.
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: black;}


header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}