/*
filename: About page style

author: John Fitzpatrick

created: 13/04/2026

last modified: 15/04/2026

description: style sheet for the about page of our Web technology project
*/
h1{/* this is a backround for the header/title of the page, "About us!"*/
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 0.5em;
} 

/* Image figure */
figure {
    border: 2px solid black;
    text-align: center;

}
#image{/*image size as it was messing with formatting */
    width: 75%;
}
/* contribution list*/
.contribution{
width:90%;
padding: 0.5em;
}
#tables{/* this was originally intended to float right, but after realising that the info inside it was placeholder and it was hopeless to fit-
    it uses its own line now */
    padding:0.5em;
}

table{/*aligns text to left, for consistency */
    text-align:left;
}
th, td { 
    border: 2px solid black;
    padding: 0.1em;
} /*styles the tables, adds border to each cell, highlights when hovering over the cell */
th:hover, td:hover{
    background-color: lightgrey;
}

#nestedlist{/*gerenal padding, parent_nestedlist does not budge so im gonna leave it there
    opacity set to 0 so it does not show when not hovering */
    padding:0.5em;
    margin:auto;
    opacity: 0;
    font-size: 3px;
}
#parent_nestedlist{
    padding: 1.5em;
    margin:auto;
}


#nestedlist:hover{ /*resets opacity to default amount, allowing class time to be visible once more */
    opacity:100;
    font-size: 16px;
}

h2, h1{ /*colouring for all subheadings */
   color: #0A3D62;
}

dt:hover{/*makes the font go bigger and change cover when hovering */
    font-size: 24px;
    color: #0A3D62
}

dt{/*makes the hover register smaller so it doesnt look horrible trying to scroll or just move your mouse around */
    width: 10%;
}